* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Layout */
div#main {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.column-left {
    background-color: #f0f0f0;
}

.column-center {
    background-color: #e0e0e0;
    flex: 2;
    /* Make the center column larger */
}

.column-right {
    background-color: #f0f0f0;
}

/* /Layout */

/* Footer */
footer div#copyright {
    height: 100%;
    text-align: center;
}

/* /Footer */

.price-amount {
    font-weight: bold;
}

.price-amount.positive {
    color: #2ecc71; /* A nice green color */
}

.price-amount.negative {
    color: #e74c3c; /* A nice red color */
}
