* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Layout */
div#main {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container {
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.column-left {
    background-color: #f0f0f0;
}

.column-center {
    background-color: #e0e0e0;
    flex: 2;
    /* Make the center column larger */
}

.column-right {
    background-color: #f0f0f0;
}

/* /Layout */

/* Footer */
footer div#copyright {
    height: 100%;
    text-align: center;
}

/* /Footer */

/* Payment Options */
.payment-options-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
}

.payment-options-table thead tr th {
    padding: 8px;
    text-align: center;
}

.payment-options-table th,
.payment-options-table td {
    padding: 8px;
}

.payment-options-table .wider-column {
    width: 85%;
    /* Make the Name column wider */
    text-align: center;
}

.payment-options-table .crud-icons {
    width: 15%;
    /* Keep the Actions column narrower */
    text-align: center;
}

.payment-options-table .crud-icons button {
    margin-right: 5px;
}

/* Optional: Style the buttons */
.payment-options-table button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* /Payment Options */

/* Transactions */
div.transactions {
    width: 100%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
}

div.transactions .block {
    height: auto;
    /* border: 1px solid rgba(255, 0, 0, .5); */
    border-radius: 5px;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
}

div.transactions .transaction-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.transactions .date {
    font-size: 2rem;
    margin: 1rem 0rem 0.5rem 1rem;
    color: rgba(255, 255, 255, .3);
}

div.transactions .transaction {
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 17rem;
    align-items: center;
}

div.transactions .transaction .title {
    font-size: 1.5rem;
    font-weight: bold;
}

div.transactions .transaction .price {
    font-size: 1.5rem;
}

div.transactions .transaction .price.positive {
    color: green
}

div.transactions .transaction .price.negative {
    color: red
}

div.transactions .transaction .date {
    font-size: 1rem;
    margin: 0.2rem;
    color: white;
}

div.transactions .transaction .payment-option {
    font-size: 0.85rem;
    margin: 0.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

div.transactions .transaction .details {
    margin: 0.3rem 0rem 0.2rem 0rem;
}

/* /Transactions */

/* Bills */
.bills-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
}

.bills-table thead tr th {
    padding: 8px;
    text-align: center;
}

.bills-table th,
.bills-table td {
    padding: 8px;
    text-align: center;
}

.bills-table .wider-column {
    /* width: 100%; */
    /* Make the Name column wider */
    text-align: center;
}

.bills-table .crud-icons {
    width: 15%;
    /* Keep the Actions column narrower */
    text-align: center;
}

.bills-table .crud-icons button {
    margin-right: 5px;
}

/* Optional: Style the buttons */
.bills-table button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* /Bills */

/* Category */
.categories-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
}

.categories-table thead tr th {
    padding: 8px;
    text-align: center;
}

.categories-table th,
.categories-table td {
    padding: 8px;
}

.categories-table .wider-column {
    width: 85%;
    /* Make the Name column wider */
    text-align: center;
}

.categories-table .crud-icons {
    width: 15%;
    /* Keep the Actions column narrower */
    text-align: center;
}

.categories-table .crud-icons button {
    margin-right: 5px;
}

/* Optional: Style the buttons */
.categories-table button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* /Category */
